<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/style.css">
<head>
  <title>Lista de Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    {{#each products}}
      <li>{{this.name}} - ${{this.price}}</li>
    {{/each}}
  </ul>
</body>
</html>
